name: Continuous Integration

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: ['8.2', '8.3']

    name: PHP ${{ matrix.php }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: mbstring, intl, pdo_mysql
          coverage: none
          tools: pest

      - name: Install Composer dependencies
        run: composer install --no-progress --no-suggest --prefer-dist

      - name: Run Laravel Pint (Style Check)
        run: vendor/bin/pint --test

      - name: Run Pest tests
        run: vendor/bin/pest

      - name: Tests Passed
        if: success()
        run: echo "Tests passed successfully for PHP ${{ matrix.php }}!"
